#root {
  margin: 0;
  display: flex;
  justify-content: center;
}

.header-icon {
  width: 4rem;
}

.card {
  padding: 2rem;
  display: flex;
  box-shadow: 0 0 0.5rem #0000002d;
  border-radius: 1rem;
}

.onsen-info {
  max-width: 600px;
  padding: 0rem 2rem;
  text-align: left;
}
