#root {
  margin: 0;
  display: flex;
  justify-content: center;
}

.header-icon {
  width: 4rem;
}

.card {
  max-width: 1280x;
  padding: 2rem;
  display: flex;
  box-shadow: 0 0 0.5rem #0000002d;
  border-radius: 1rem;
}

.onsen-info {
  max-width: 600px;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.onsen-info > * {
  margin: 0;
}

.onsen-name {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

.card-location {
  display: flex;
  align-items: center;
}

.location-pin {
  width: 1.2rem;
  height: auto;
}

.location-text {
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.type-text {
  margin: 1rem 0rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.type-intro {
  font-weight: 400;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.description-text {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.github {
  width: 3rem;
  transition: 100ms linear;
}

.github:hover {
  transform: rotate(360deg);
}
