:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

header {
  height: auto;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f55a5a;
  color: white;
  gap: 2rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

img {
  max-width: 500px;
  object-fit: contain;
  border-radius: 0.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 500;
}
