:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f55a5a;
  color: white;
  gap: 2rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

img {
  max-width: 450px;
  object-fit: contain;
  border-radius: 0.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 500;
}

footer {
  background-color: #f55a5a;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0rem 0.5;
  }

  .onsen-info {
    align-items: center;
  }

  .onsen-info > * {
    margin: 0.5rem;
  }

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  .location-type {
    display: flex;
    gap: 2rem;
  }
}
